<nav>
    <div class="site-title">
        <a href=/><h1>Expresso Coutinho</h1></a>
        <p> Restaurante expresso coutinho, faça login para fazer a sua reserva </p>
        <ul>
            <l1><a href="/admin/reserves">Reservas</a></l1>
            <li><a href="/admin/ementa">Ementa</a></li>
            <l1><a href="/admin/clients">Clientes</a></l1>
            
        </ul>
    </div>
</nav>