<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/">Expresso Coutinho</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/ementa">Ementa</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about">Sobre nós</a>
      </li>
      <% user %>
    </ul>
    <ul class="navbar-nav">
      <% if(user) { %>
      <li class="nav-item">
        <span class="nav-link disabled">Bem-vindo, <%= user.name %>.</span>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/reservations">Reservas</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/logout">Logout</a>
      </li>
      <% } else if(admin) { %>
      <li class="nav-item">
        <span class="nav-link disabled">Bem-vindo, <%= admin.name %>.</span>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/admin/reservations">Reservas</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/admin/menu">Menu</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/admin/clients">Clientes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/logout">Logout</a>
      </li>
      <% } else { %>
      <li class="nav-item">
        <a class="nav-link" href="/register">Registar</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/login">Login</a>
      </li>
      <% } %>
    </ul>
  </div>
</nav>