<!DOCTYPE html>
<html>
<%- include('./partials/head.ejs') %>

<body>
  <%- include('./partials/nav.ejs') %>
  <div class="content">

    <div class="container">
      <h1 class="my-3">Sobre Nós</h1>

      <h2>A nossa história</h2>

      <p>Tudo começou no ano de 1976 quando o fundador José Carlos Coutinho decidiu criar um café privado para os seus
        compadres. Com o passar do tempo o número de compadres do José foi crescendo até não ser mais possivel
        distinguir amigos de conhecidos. Após esta realização, José abriu o espaço ao público e assim permaneceu durante
        as gerações futuras.</p>
      <h2>Onde Estamos</h1>
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d750.7615983741149!2d-8.609825070740492!3d41.17715529870523!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd24644998eb5d35%3A0xdd0397de1b0ff8e2!2sR.%20Conde%20Avranches%20443%2C%204200-485%20Porto!5e0!3m2!1spt-PT!2spt!4v1599674311305!5m2!1spt-PT!2spt"
          width="1100" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false"
          tabindex="0"></iframe>
    </div>
  </div>

  <%- include('./partials/footer.ejs') %>
</body>

</html>