<!DOCTYPE html>
<html>
<%- include('./partials/head.ejs') %>

<body>
  <%- include('./partials/nav.ejs') %>
  <div class="content">

    <div class="container">
      <h1 class="my-3">Sobre Nós</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed odio risus, vehicula vitae maximus eget, ultricies
        lobortis felis. Aliquam molestie et dolor a imperdiet. Aenean cursus ullamcorper dapibus. Aliquam rhoncus auctor
        velit, eget consectetur ipsum mattis semper. Integer eros nulla, consectetur nec vehicula sed, lacinia nec
        massa.
        Donec sodales sem sed justo lacinia euismod. In feugiat varius mauris vel varius. Maecenas et rutrum nisl. Donec
        scelerisque purus eu augue tincidunt accumsan. Nullam justo nunc, lacinia non varius vulputate, convallis ut
        justo. Phasellus vitae vestibulum dui, sed aliquam mauris. Morbi luctus tempus urna, non feugiat tellus mollis
        suscipit. Morbi id pretium velit. Suspendisse dapibus sollicitudin venenatis. Maecenas tempus porttitor orci
        quis
        volutpat.</p>
      <p>Aliquam nec massa vitae eros egestas sagittis vitae quis arcu. Orci varius natoque penatibus et magnis dis
        parturient montes, nascetur ridiculus mus. Proin tristique sem in rutrum eleifend. Duis sollicitudin velit ut
        tortor sollicitudin commodo. Nunc eget pulvinar turpis. Aliquam vehicula aliquet elit, quis hendrerit mi
        fermentum
        at. Proin ut sollicitudin sem. Phasellus dictum erat dui, id venenatis leo tempor vel. Ut pharetra iaculis nisl.
        Duis sodales ultricies tortor, ut molestie tellus ultricies eu. Nulla porta velit eget porttitor ultrices. </p>
    </div>
  </div>

  <%- include('./partials/footer.ejs') %>
</body>

</html>