<!DOCTYPE html>
<thml>
    <%- include('./partials/head.ejs') %>
    <body>
        <%- include('./partials/nav.ejs') %>
        <h1>
            Cardapio Bom Sabor
        </h1>
        <ul class="pratos-principais">
            <h2>Pratos principais</h2>
            <li> comida 1 </li>
            <li> comida 1 </li>
            <li> comida 1 </li>  
        </ul>
        <ul class="bebidas">
            <h2> Bebidas </h2>
            <l1> bebida 1 </l1>
            <li> bebida 2 </li>
        </ul>
        <ul class="sobremesa">
            <h2>Sobremesas</h2>
            <li> sobremesa 1 </li>
            <li> sobremesa 2</li>
        </ul>

        <%- include('./partials/footer.ejs') %>
    </body>
</thml>