<!DOCTYPE html>
<html>
  <%- include('../partials/head.ejs') %>
  <body>
    <%- include('../partials/admin_nav.ejs') %>
    <h1>Página Adminstrativa de Clientes</h1>
    <% if(client.length>0){ %>
      

    <% } %>  

    <%- include('../partials/footer.ejs') %>
  </body>
</html>
