<!DOCTYPE html>
<html>
  <%- include('../partials/head.ejs') %>
  <body>
    <%- include('../partials/admin_nav.ejs') %>
    <h1>Página Adminstrativa</h1>
    <h2>Página de Ementa</h2>

    <%- include('../partials/footer.ejs') %>
  </body>
</html>
